<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body class="w-screen justify-between items-center flex flex-col py-10 gap-y-5">
        <form action="/student" method="post" class="flex flex-col gap-y-3">
            <label for="id">ID : </label>
            <input type="number" name="id" class="border border-amber-400"/>
            <label for="name">Name : </label>
            <input type="text" name="name" class="border border-amber-400"/>
            <button type="submit" class="border border-amber-600 bg-red-400 text-white font-semibold">Add</button>
        </form>
        <ul class="flex flex-col gap-y-4">
            {% for item in data %}
                <li class="border border-red-300 p-1"><div class="w-[400px] flex items-center gap-x-3 justify-between">
                    ID: {{ item.id }}, Name: {{ item.name }}
                    <div class="flex gap-x-2">
                        <button class="bg-blue-400 text-white p-3" onclick="editData(event,{{item.id}})">Edit</button>
                        <button class="bg-red-400 text-white p-3" onclick="deleteData(event,{{item.id}})">Delete</button>
                    </div>
                </div></li>
            {% endfor %}
        </ul>
    <script>
        const deleteData = async(event,id)=>{
            try {
                // alert(id,typeof(id))
                event.stopPropagation();
                await fetch(`http://127.0.0.1:5000/student/${id}`,{
                        method: "DELETE"
                    });
                    alert("success deleted "+ id)
                    window.location.reload();
                } catch (error) {
                    console.log(error)
                }
                fetch()
            }
            const editData = (event,id,newData)=>{
                try {
                alert("success edited "+ id)
                event.stopPropagation();
                // await fetch();
            } catch (error) {
                console.log(error)
            }
        }
    </script>
    </body>
</html>